body {
	background-color: #fff1a9;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

	width: 100%;
	margin: 0px;
	
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

font {
	font-family: "Bree Serif", serif;
	font-weight: 600;
	font-style: normal;
	color: #005208;
	text-shadow: 0 2px 3px rgba(0, 82, 8, 0.5);
}

@font-face {
    font-family: "Margin";
    src: url("/assets/Margin.woff2");
}

.tituloMargin {
	font-family: 'Margin', serif;
	font-weight: 500;
	font-size: 90px;
	text-shadow: 0 4px 3px rgba(0, 82, 8, 0.5);
}

.disableSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.headerFooter {
	width: 100%;
	overflow-wrap: break-word;
	margin-top: 22px;
}

.mainJogo {
	
}

.jogoFundo {
	border: 4px solid #005208;
}

@media screen and (max-width: 1000px) {
	.jogoFundo {
		width: 100%;
	}
}